.app {
  padding: 30px;
}

.section {
  margin-bottom: 20px;
}

.chart {
  width: 100%;
}

.checkbox {
  margin: 0 3px;
}


/* LAYOUT */

.l-flex {
  display: flex;
}

.l-flexColumn {
  display: flex;
  flex-direction: column;
}

.l-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-vCenter {
  display: flex;
  align-items: center;
}

.l-hCenter {
  display: flex;
  justify-content: center;
}

.l-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.l-spaceAround {
  display: flex;
  justify-content: space-around;
}

.l-baseline {
  display: flex;
  align-items: baseline;
}

@media screen and ( max-width: 700px ) {
  .widget {
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
  }
}
