.app {
  margin: 50px;
}

.section {
  margin-bottom: 20px;
}

.chart {
  margin: 50px 0;
}


/* LAYOUT */

.l-flex {
  display: flex;
}

.l-flexColumn {
  display: flex;
  flex-direction: column;
}

.l-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-vCenter {
  display: flex;
  align-items: center;
}

.l-hCenter {
  display: flex;
  justify-content: center;
}

.l-spaceBetween {
  display: flex;
  justify-content: space-between;
}

.l-spaceAround {
  display: flex;
  justify-content: space-around;
}

.l-baseline {
  display: flex;
  align-items: baseline;
}

